<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medical Blog</title>
  </head>

  <body>
    <% include navbar/navbarArtikel %>

    <div class="container post">
      <div class="row">
        <div class="col-md-6 post-title">
          <h1>PENGERTIAN TUMOR</h1>
          <p class="author">
            <strong>Berikut adalah pengertian tumor</strong>
            <span class="text-muted"
              ></span
            >
          </p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
          <p>
            Tumor atau barah (bahasa Inggris: tumor, tumour) adalah sebutan untuk neoplasma atau lesi padat yang terbentuk akibat pertumbuhan sel tubuh yang tidak semestinya, yang mirip dengan simtoma bengkak. Tumor berasal dari kata tumere dalam bahasa latin yang berarti "bengkak". Pertumbuhannya dapat digolongkan sebagai ganas (malignan) atau jinak (benign).

Setelah menjadi pecandu, akan sangat sulit untuk berhenti menggunakannya. 
Rehabilitasi sangat dibutuhkan dan pengawasan ketat setelah rehabilitasi juga tidak kalah penting karena ada banyak sekali orang yang terjerumus kembali meskipun sebelumnya sudah menjalani rehabilitasi dan sempat terlepas dari kecanduan.
          </p>
          <p>
            Tumor ganas disebut kanker. Kanker memiliki potensi untuk menyerang dan merusak jaringan yang berdekatan dan menciptakan metastasis. Tumor jinak tidak menyerang tissue berdekatan dan tidak menyebarkan benih (metastasis), tetapi dapat tumbuh secara lokal menjadi besar. Mereka biasanya tidak muncul kembali setelah penyingkiran melalui operasi.
          </p>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
    <% include footer/footer %>
  </body>
</html>
